# Домашнее задание «Библиотека Pandas»

<a id='contents'></a>
## Оглавление:
### [Задание 1](#task1)
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.
### [Задание 2](#task2)
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.
### [Задание 3](#task3)
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

<a id='task1'></a>
## Задание 1

In [2]:
import pandas as pd

In [41]:
# загружаем в датафрем данные о рейтингах по фильмам, оставляя только нужные поля и id фильмов только если их рейтинг = 5.0
movies_rates = pd.read_csv("ml-25m/ratings.csv")[['movieId', 'rating']].query(f'rating == 5.0')
movies_rates.head()

    movieId  rating
0       296     5.0
2       307     5.0
3       665     5.0
8      1237     5.0
18     2632     5.0

In [43]:
# загружаем в датафрем с данными о наименовании фильма и его id
movies = pd.read_csv("ml-25m/movies.csv")[['movieId', 'title']]
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [51]:
# последовательно - объединяем две таблицы по полю id фильма, добавляем к полям суффиксы, т.к. возникает ошибка из-за
# одинаковых наименований полей, соединяем левым джойном к таблице с рейтингами, чтобы получить названия только по тем фильмам,
# по которым рейтинг 5.0, оставляем только поле с наименованием фильма, считаем число повторений каждого фильма и выводим самую
# верхнюю строку - с самым часто повторяющимся фильмом из списка, где всем присвоен рейтинг 5.0
movies_rates.join(movies, on = 'movieId', how = 'left', lsuffix = '_mr', rsuffix = '_m')['title'].value_counts().head(1)

Swimming with Sharks (1995)    39553
Name: title, dtype: int64

[к оглавлению](#contents)

<a id='task2'></a>
## Задание 2

In [65]:
# загружаем данные, одновременно фильтруя строки, с целью исключения полей quantity < 0 сортируем по возрастанию, чтобы проверить
data = pd.read_csv('power.csv').query(f'quantity >= 0').sort_values(by = 'quantity', ascending = True)
data.head()

             country  year  quantity  category
200774       Belgium  2013       0.0        20
56203   South Africa  2013       0.0         8
56204   South Africa  2012       0.0         8
56205   South Africa  2011       0.0         8
56206   South Africa  2010       0.0         8

In [84]:
# ищем наименования Латвии, Литвы и Эстонии (как пишутя в датафрейме)
data[data['country'].str.contains('lit|lat|esto', case = False)]['country'].unique()

array(['Latvia', 'Lithuania', 'Estonia'], dtype=object)

фильтруем данные оставляя только: Латвия, Литва и Эстония, категории 4, 12 и 21, годы с 2005 по 2010

In [88]:
data = data[data['country'].str.contains('lit|lat|esto', case = False)]

In [95]:
data = data.query(f'(year >= 2005) & (year <= 2010)')

In [96]:
data = data.query(f'category in [4, 12, 21]')

In [97]:
data.head()

          country  year  quantity  category
103579  Lithuania  2007       0.0        12
103578  Lithuania  2008       0.0        12
103577  Lithuania  2009       0.0        12
118855  Lithuania  2009       0.0        12
21901     Estonia  2007       0.0         4

In [ ]:
Суммарное потребление:

In [103]:
data['quantity'].sum(axis=0)

240580.0

[к оглавлению](#contents)

<a id='task3'></a>
## Задание 3

In [106]:
receive_tables = pd.read_html('https://www.testfirm.ru/otrasli/')

,Код ОКВЭД,Вид деятельности,"Рентабельность продаж в 2020 г., %"
0,NaN,Все отрасли РФ,46
1,1.0,"Растениеводство и животноводство, охота и пред...",106
2,2.0,Лесоводство и лесозаготовки,67
3,3.0,Рыболовство и рыбоводство,106
4,5.0,Добыча угля,29
...,...,...,...
81,92.0,Деятельность по организации и проведению азарт...,41
82,93.0,"Деятельность в области спорта, отдыха и развле...",3
83,94.0,Деятельность общественных организаций,72
84,95.0,"Ремонт компьютеров, предметов личного потребле...",62
85,96.0,Деятельность по предоставлению прочих персонал...,41

[к оглавлению](#contents)